// colors
@page-bgcolor: #FCFFF5;
@page-color: #193441;
@guideline-50pct:  #ddd;
@guideline-25pct:  #eec;

@bar-range:        #D1DBBD;
@bar-last:         #91AA9D;
@bar-indicator:    #193441;
@current-sample:   #91AA9D;

// mixins
.bold(@size)       { font-size: @size; font-weight: bold; }

// styles
.icon-small        { margin-left: 0.3em}
.icon-bullhorn     { color: #8b008b; }
.icon-globe        { color: #195f91; }

.bullet {
  .last            { fill: @bar-last; }
  .actual, .mark   { fill: @bar-indicator; }
  .range           { fill: @bar-range; }
}


.barchart {

  .absences,
  .detentions      { fill: @bar-indicator; }

  .tardies,
  .referrals       { fill: @bar-last; }

  .label,
  .label.absences,
  .label.tardies   { fill: white; }

  .label           { .bold(10px); }

  .pct50           { fill: @guideline-50pct; }
}

.sparkline {
  .current         { fill: @current-sample; }
  .past            { fill: @bar-indicator; }
  .pct50           { fill: @guideline-50pct; }
  .pct25           { fill: @guideline-25pct; }
}
.interjection      { color: @bar-indicator; }

#stats             { margin-top: 1em}
#stats > div       { margin-top: .3em}
#stats .label      { .bold(9pt); }

#lastClass         { font-size: 11pt; }

#stats *,
#lastClass strong,
th {
  font-weight: 400;
}
#stats *  { font-size: 0.9em; }
th { font-size: 0.7em; }

tr:hover td {
  background-color: #fffeb8;
  color: black;
}

.studentName, .grades, .assignments, .standardizedTests {
  padding-right: 1em;
}
.attendance, .disciplinary {
  text-align: center;
}

#students { width: 100%; }
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: @page-bgcolor;
  color: @page-color;
  max-width: 1024px;
  margin: 1em auto;
}
